Package: com.hucent.customspotlightaction
Name: CustomSpotlightAction
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: Custom your search action on your spotlight
Maintainer: hucent
Author: hucent
Section: Tweaks
